body {
    margin: 100px;
    display: flex;
    justify-content: center;
}
input {
    width: 30px;
}
.field {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #cccccc;
}
.cell {
    width: 50px;
    height: 50px;
}
.grid_parameters {
    text-align: -webkit-center;
}
.snakeBody {
    background: rgba(12, 171, 17, 0.6);
    border-radius: 50%;
}
.head {
    background: rgba(11, 112, 15, 0.6);
    border-radius: 50%;
}
.apple {
    background: rgba(179, 21, 21, 0.6);
    border-radius: 50%;
}